
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Editor de Usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >
  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-list>
      
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input 
        name="Nombre"
        type="string"
        [value]="tokenUsuario.nombre"
        #campo = "ngModel"
        [(ngModel)]="tokenUsuario.nombre"
        [maxlength]="50"
        [minlength]="3"
        required></ion-input>
      </ion-item>
      <!-- <ion-text color="danger" *ngIf="campo.errors?"> El nombre deve tener más de 3 caracteres
      </ion-text> -->

      <ion-item >
        <ion-label position="stacked">Direccion</ion-label>
        <ion-input 
        placeholder="avenida ley 57 #138"
        name="Direccion"
        #direc = "ngModel"
        [(ngModel)]="tokenUsuario.direccion"
        [maxlength]="20"
        [minlength]="5"
        required></ion-input>
      </ion-item>
      <!-- <ion-text color="danger" *ngIf="direc.errors?"> Se necesita especificar más la direccion
      </ion-text> -->

      <ion-item >
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input 
        placeholder="888-888-8888"
        name="Telefono"
        #tele = "ngModel"
        pattern="[0-9]{10}" 
        [(ngModel)]="tokenUsuario.telefono"
        [maxlength]="10"
        [minlength]="10"
        required
        ></ion-input>
      </ion-item>
      <!-- <ion-text color="danger" *ngIf="tele.errors?"> El numbero de telefono tiene que tener 10 dijitos
      </ion-text> -->

      <ion-item >
        <ion-label position="stacked">Codigo Postal</ion-label>
        <ion-input
        placeholder="88888"
        name="Codigo Postal"
        pattern="[0-9]{5}" 
        #cod = "ngModel"
        [(ngModel)]="tokenUsuario.codpostal"
        [maxlength]="5"
        [minlength]="5"
        required
        ></ion-input>
      </ion-item>
      <!-- <ion-text color="danger" *ngIf="cod.errors?"> Codigo postal requiere ser de 5 digitos
      </ion-text> -->

      <ion-item >
        <ion-label position="stacked">Tipo de usuario</ion-label>
        <ion-input 
        placeholder="Admin/usuario"
        name="Tipo de usuario"
        #tipo = "ngModel"
        [(ngModel)]="tokenUsuario.tipousuario"
        [maxlength]="10"
        [minlength]="3"
        required
        ></ion-input>
      </ion-item>
      <!-- <ion-text color="danger" *ngIf="tipo.errors?"> Requiere definir el tipo de usuario
      </ion-text> -->

      <ion-item >
        <ion-label position="stacked">Roll</ion-label>
        <ion-select
        placeholder="Roll"
        name="Roll"
        interface="popover"
        #rol = "ngModel"
        [(ngModel)]="tokenUsuario.roll"
        required>
        <ion-select-option value="Director">Director</ion-select-option>
        <ion-select-option value="QA">QA</ion-select-option>
        <ion-select-option value="Desarrollador">Desarrollador</ion-select-option>
        <ion-select-option value="Practicante">Practicante</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- <ion-text color="danger" *ngIf="rol.errors?"> Requiere definir el tipo de usuario
      </ion-text> -->

      <ion-item >
        <ion-label position="stacked">Estado</ion-label>
        <ion-select  
        #estad
        placeholder="Estado"
        name="estad"
        interface="popover"
        [(ngModel)]="tokenUsuario.estado"
         (ionChange)="CambioEstado(estad.value)"
        required>

        <ion-select-option *ngFor="let obtenerEstados of estadosArray" value="{{obtenerEstados.cataloG_KEY}}">{{ obtenerEstados.entidaD_FEDERATIVA }}</ion-select-option>
      </ion-select>
      </ion-item>
      <!-- <ion-text color="danger" *ngIf="estad.errors?"> Requiere definir el tipo de usuario
      </ion-text> -->

      <ion-item >
        <ion-label position="stacked">Municipio</ion-label>
        <ion-select 
        #mun 
        placeholder="Municipio"
        name="mun"
        interface="popover"
        (ionChange)="CambioMunicipio(mun.value)"
        [(ngModel)]="tokenUsuario.municipio"
        required
        >
        
        <ion-select-option *ngFor="let obtenerMunicipios of municipioArray" value="{{obtenerMunicipios.cataloG_KEY}}" >{{ obtenerMunicipios.municipio }}</ion-select-option>
      </ion-select>
      </ion-item>
      <!-- <ion-text color="danger" *ngIf="mun.errors?"> Requiere definir el tipo de usuario
      </ion-text> -->

      <ion-item >
        <ion-label position="stacked">Localidad</ion-label>
        <ion-select  
        #loc
        placeholder="Localidad"
        name="Localidad"
        interface="popover"
        (ionChange)="CambioLocalidad(loc.value)"
        [(ngModel)]="tokenUsuario.localidad"
        required
        >
        <ion-select-option *ngFor="let obtenerLocalidades of localidadArray" value="{{obtenerLocalidades.cvE_LOC}}">{{ obtenerLocalidades.noM_LOC }}</ion-select-option>
      </ion-select>
      </ion-item>
      <!-- <ion-text color="danger" *ngIf="loca.errors?"> Requiere definir el tipo de usuario
      </ion-text> -->

      

      <ion-button [disabled] ="formulario.invalid"
                  type="submit"
                  expand="block">
        Actualizar
      </ion-button>
    </ion-list>

    </form>
</ion-content>